# Copyright (c) Team CharLS.
# SPDX-License-Identifier: BSD-3-Clause

# Ignore build output
artifacts/
TestResults/
*.opensdf
*.sdf

# Ignore fuzzing test output
test-cases/

# Ignore files created by Visual Studio
.vs/
.vscode/
**/Properties/launchSettings.json
*.user

# Ignore files created by MSBuild
*.binlog
