# Copyright (c) Team CharLS.
# SPDX-License-Identifier: BSD-3-Clause

name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    name: build-and-test-${{matrix.os}}-${{matrix.configuration}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore -c ${{matrix.configuration}}

    - name: Test
      run: dotnet test --no-build --verbosity normal -c ${{matrix.configuration}}
